[submodule "PassGan"]
	path = PassGan
	url = git@github.com:jsotiro/PassGAN.git
[submodule "PassGAN"]
	path = PassGAN
	url = git@github.com:jsotiro/PassGAN.git
[submodule "SteganoGAN"]
	path = SteganoGAN
	url = git@github.com:jsotiro/SteganoGAN.git
[submodule "stylegan2-ada"]
	path = stylegan2-ada
	url = https://github.com/jsotiro/stylegan2-ada.git
[submodule "stargan-v2"]
	path = stargan-v2
	url = https://github.com/jsotiro/stargan-v2.git
